<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>atenda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>controlador.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorAdmin</display-name>
    <servlet-name>ControladorAdmin</servlet-name>
    <servlet-class>controlador.ControladorAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAdmin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorLogin</display-name>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>controlador.ControladorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorImages</display-name>
    <servlet-name>ControladorImages</servlet-name>
    <servlet-class>controlador.ControladorImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorImages</servlet-name>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorLogout</display-name>
    <servlet-name>ControladorLogout</servlet-name>
    <servlet-class>controlador.ControladorLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>